html{
    box-sizing:border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
  
    height:200vh;
    background-position:100%;  
    font-weight:bold;
    
    
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    width:100%
    }
/*Header of the page*/
header{
    background-color:#de750a;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    flex-wrap: wrap;
}
/*Title of the page*/  
header span{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}
span img{
  border-radius: 100px;
  width:80px;
  height:80px;
  margin-top:0;
  margin-bottom: 0;
  float:right;
margin:10px;
}
span a{
    float:right;
    color:white;
    margin-top:50px;
    text-decoration: none;
    margin-right:10px;
}
header h1{
 
    font-family: 'Open Sans', sans-serif;
font-size:45px;
text-align:left;
margin-top:20px;
color:white;




}


header nav{
margin-bottom:-50px;
}

/*Flex navigation*/
header nav ul{
background-color: rgb(37, 35, 35);
text-align: center;  
display: flex;
flex-wrap:  wrap;
justify-content: space-between;
margin:0;
padding:0;

}
header  nav  li{

text-align: center;
flex:1 0 10em;
padding:10px;
margin:5px;
border-radius: 10px;
list-style-type: none;

}
header  nav ul li  a{
text-decoration:none;
border-radius: 10px;
color:white;

font-weight:bold;
padding:10px;
font-size: 20px;
}
 header a:hover{
background-color:white;
color:orangered;
border-radius: 5px;

}
 header a:active{
background-color:crimson;
}

main{

    font-weight:bold;
    
}
main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}

main nav ul  {
    
    list-style-type: none;
    
    padding:0;
    margin:0;
    margin-left:-10px;
}

    main nav ul li a{
        background-color:#de750a;
        text-decoration: none;
        color:white;
        padding:15px;
        margin-left:-10px;
        margin:15px;
        display:block;
        border-radius: 5px;
}
main a:hover{
    background-color: black;
}
main a:visited{
    text-shadow: 1px brown;
}
main li article{
    border-radius: 3px;
}
/*grad navigations*/
main>*:nth-child(1){

    flex:1 0 2%;
    min-width: 10px;
    margin-left:-20px;
    margin:5px;
    
   
    
}
/*The section of main*/
main>*:nth-child(2){
    
    flex: 1 1 70%;

   padding:10px;   
}
main img{
    width:300px;
    height:200px;
}
article img{
    width:100px;
    height:100px;
    float:left;
    margin:10px;
    border-radius: 30px;
    align-items: center;
    margin-top: 10px;
    
    }
main section{
    display:flex;
    flex-direction: row;
    margin-left:0;
    
    flex-wrap: wrap;

}
main article{
    /*display:grid;
    grid-template-rows:  1fr 1fr 0.3fr;*/
    
    margin:10px;
    padding:10px;
    
}

section >*{
    flex:1 1 40%;
    min-width: 30px;
    border-radius: 10px;
    margin-top:20px;
    position:relative;
    
}
   main section a{
        
        padding:10px;
        margin:10px;
        
        border: 2px solid black;
        border-radius: 5px;
        position:absolute;
        bottom:0;
        color:rgba(216, 15, 92, 0.918);
        text-decoration:none;
        font-size: 20px;
        font-weight: bold;
}
nav{
    text-align: center;
}

article{
    margin:2px;

    background-color: rgba(245, 253, 255, 0.952);
    box-shadow:  rgb(221, 91, 91);
    
}
article h4{
    border:1px solid black;
    padding:20px;
    margin-top:0;
    text-align:center;
}
main+section{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section nav{
background-color: rgb(250, 254, 255);
flex:1 1 20em;
line-height: 30px;
margin:20px;

}
section nav ul li {
    list-style-type: none;
    margin-right: 20px;
  
}
section nav li:nth-child(1){
    background-color: rgba(0, 0, 255, 0.486);
    padding:30px;
    margin:-15.8px 0 1px -40px;
    border-radius: 7px;
}
section nav a{
    color:grey;
    padding:10px;
    
}



main{

    flex-grow:0;
}
footer{

    margin-bottom:0;
    background-color:#de750a;
    color:rgba(0, 0, 0, 0.993);
    
    height:30vh;
    font-weight: bold;
    text-align: center;
}
footer nav{
    padding:10px;
    text-align: center;
}
footer nav ul{
    list-style-type: none;
}
footer nav ul li{
    display:inline-block;
}